<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Child component</h3>
            <div class="input-group mb-3">
                <input [(ngModel)]="childItem" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button  (click)="addNewItem()" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
            <strong>Text from parent : </strong> {{item}}
        </div>
    </div>
</div>