<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>Parent component</h3>
            <div class="input-group mb-3">
                <input [(ngModel)]="currentItem" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
            <strong>Text from child : </strong> {{childItem}}
        </div>
        <div class="col-6">
            <app-child (newItemEvent)="addItem($event)" [item]="currentItem"></app-child>
        </div>
    </div>
</div>